#map{
height:500px;
width:100%;
position:absolute;
right:0;
top:0;
z-index:-1;
}

.tasty{
position:absolute;
bottom:0;
left:0;
}

.results{
	background-color:white;
    height: 200px;
    margin: auto;
    overflow-y: auto;
    width: 350px;
    

}